<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Pets Up For Adoption</title>
  <link rel="icon" type="image/x-icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQLesmSkOXjMcBRzyK9j3DXF-Lif1gXFp-HEHpBlwJBHw&s">

  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://kit.fontawesome.com/9a1d33ccb7.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <section>
  
    <nav class="border-gray-200 bg-gray-50 dark:bg-gray-800 dark:border-gray-700">
      <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
        
            <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">  <i
              class="fa-sharp fa-solid fa-paw"></i> Pets Up</span>
        </a>
        <button data-collapse-toggle="navbar-solid-bg" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-solid-bg" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
            </svg>
        </button>
        <div class="hidden w-full md:block md:w-auto" id="navbar-solid-bg">
          <ul class="flex flex-col font-medium mt-4 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-transparent dark:bg-gray-800 md:dark:bg-transparent dark:border-gray-700">
            <li>
              <a href="/home" class="block py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 md:dark:text-blue-500 dark:bg-blue-600 md:dark:bg-transparent" aria-current="page">Home</a>
            </li>
            <li>
              <a href="/login" class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Login</a>
            </li>
            <li>
              <a href="/signup" class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Sign Up</a>
            </li>
            <li>
              <a href="/logout" class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    
    </section>




    <main class="container signup-justify login-container signup-container">
      <div class="row  justify-content-center">
        <section class="col-6 mt-5">
          <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
          <div class="alert fs-0.1  m-0.3 p-0.1 alert-danger"><%= el.msg %></div>
          <% }) %> <% } %> <% if (locals.messages.info) { %> <%
          messages.info.forEach( el => { %>
          <div class="alert fs-0.1  m-0.3 p-0.1 alert-info"><%= el.msg %></div>
          <% }) %> <% } %>


        

        </section>
      </div>
    </main>
    
    <section class="py-24 lg:py-28 bg-[#001C30] overflow-hidden">
      <div class="container px-4 mx-auto">
        <div class="max-w-3xl mx-auto">
          <h2 class="font-heading mb-4 text-6xl text-white tracking-tighter">Sign Up Here</h2>
          <p class="mb-16 text-xl text-white tracking-tight">See the hundreads of pets listed up for adoption or list a pet for the adoption.</p>
          <form class="flex flex-wrap -m-3" action="/signup" method="POST">
            <div class="w-full md:w-1/2 p-3">
              <label class="block">
                <input class="p-4 w-full text-gray-700 tracking-tight bg-white placeholder-gray-700 outline-none border border-gray-600 rounded-lg focus:border-indigo-500 transition duration-200" id="signUpInput1-1" type="text" name="userName" placeholder="First Name">
              </label>
            </div>
            <div class="w-full md:w-1/2 p-3">
              <label class="block">
                <input class="p-4 w-full text-gray-700 tracking-tight bg-white placeholder-gray-700 outline-none border border-gray-600 rounded-lg focus:border-indigo-500 transition duration-200" id="signUpInput1-2" type="email" name="email" placeholder="Email Address">
              </label>
            </div>
            <div class="w-full md:w-1/2 p-3">
              <label class="block">
                <input class="p-4 w-full text-gray-700 tracking-tight bg-white placeholder-gray-700 outline-none border border-gray-600 rounded-lg focus:border-indigo-500 transition duration-200" id="signUpInput1-3" type="password" name="password" placeholder="Password">
              </label>
            </div>
            <div class="w-full md:w-1/2 p-3">
              <label class="block">
                <input class="p-4 w-full text-gray-700 tracking-tight bg-white placeholder-gray-700 outline-none border border-gray-600 rounded-lg focus:border-indigo-500 transition duration-200" id="signUpInput1-4" type="password" name="confirmPassword" placeholder="Confirm Password">
              </label>
            </div>
           
            <div class="w-full p-3">
              <a class="inline-block mb-7 px-5 py-4 w-full text-white text-center font-semibold tracking-tight bg-indigo-600 hover:bg-indigo-700 rounded-lg focus:ring-4 focus:ring-indigo-300 transition duration-200"> <button type="submit" class="btn signupButton btn-primary  p-2">Sign Up</button></a>
              <span class="font-medium text-white tracking-tight">
                <span>Already have an account?</span>
                <a class="text-red-500 hover:text-red-700 transition duration-200" href="/login">Sign In</a>
              </span>
            </div>
          </form>
        </div>
      </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.7.0/flowbite.min.js"></script>
  </body>

  </html>



  